# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Logs
*.log

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Icon?
._*

# Other files to ignore
*.class
*.jar
*.war
*.ear
*.db

# Eclipse
.classpath
.project
.settings/
